--allman false
--disable andOperator
--disable extensionAccessControl
--disable unusedArguments
--disable conditionalAssignment
--lineaftermarks false
--swiftversion 6.1
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--xcodeindentation enabled

